@font-face {
  font-family: orbitron;
  src: url("./font/Orbitron-Bold.ttf");
}
body {
  background-image: url("./table.jpeg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

#calculator {
  background-color: black;
  border: 2px solid white;
  border-width: 20px 10px 35px 10px;
  border-radius: 100px;
  width: 745px;
  margin: auto;
  background-image: linear-gradient(
    90deg,
    #020024 25%,
    #404041 75%,
    #a9abab 100%
  );
}

.header {
  display: flex;
  text-align: center;
  margin: 40px 20px;
  height: 150px;
}

.second-line {
  margin-top: 35px;
}

.logo {
  color: white;
  width: 300px;
  margin-left: 20px;
  flex: 1 0 auto;
}

.company {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bolder;
}

.model {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

.nickname {
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  color: rgb(179, 68, 87);
  font-size: 30px;
}

.solar,
#screen {
  border-radius: 25px;
  border-left: 20px solid rgb(65, 62, 62);
  border-bottom: 20px solid rgb(65, 62, 62);
  border-right: 20px solid black;
  border-top: 20px solid black;
}

.solar {
  background-color: grey;
  width: 350px;
  height: 150px;
  flex: 1 0 auto;
}

#screen {
  background-color: rgb(86, 117, 86);
  width: 640px;
  height: 250px;
  margin: 50px;
  padding-left: 10px;
  font-size: 50px;
  font-family: "orbitron", sans-serif;

  /*wrap the calculation*/
  word-wrap: break-word;
}
.grid-container {
  display: grid;
  gap: 20px 10px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin: 50px;
}

.grid-item {
  font-family: "orbitron", sans-serif;
  font-weight: bolder;
  font-size: 45px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-top: 5px solid grey;
  border-left: 5px solid grey;
}

.corner-left-top {
  border-top-left-radius: 40px;
}

.corner-right-top {
  border-top-right-radius: 40px;
  background-color: rgb(28, 28, 189);
  color: white;
  border-top: 5px solid blue;
  border-left: 5px solid blue;
}

.del {
  background-color: rgb(28, 28, 189);
  color: white;
  border-top: 5px solid blue;
  border-left: 5px solid blue;
}

.AC,
.del {
  font-size: 30px;
}

.corner-left-bottom {
  border-bottom-left-radius: 40px;
}

.corner-right-bottom {
  border-bottom-right-radius: 40px;
}
